{% extends 'reqs.html' %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border_nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">STORMWIND</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse custom_container" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item me-4">
                    <a class="nav-link" href="/offers">Предложения</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/reqs">Запросы</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/clients">Клиенты</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/realtors">Риэлторы</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/properties">Недвижимость</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/deals">Сделки</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link">{{request.user}}</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    {% url 'logout_page' as url_logout_page %}
                    <a class="nav-link" href="{{url_logout_page}}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item ms-4 me-4">
                    {% url 'login_page' as url_login_page %}
                    <a class="nav-link" href="{{url_login_page}}">Войти</a>
                </li>
                <li class="nav-item ms-4 me-4">
                    {% url 'register_page' as url_register_page %}
                    <a class="nav-link" href="{{url_register_page}}">Зарегистрироваться</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{%block content%}
<h1 class="mg-4">Мои запросы</h1>
<p><a href="/reqs">Назад</a></p>
<button type="button" class="btn btn-dark mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Добавить запрос
</button>
{% if success %}
<p style="color:green">Предложение добавлено</p>
{% endif %}
{% if message %}
<div class="alert alert-success">
    {% for m in messages %}
        {{m}}
    {% endfor %}
</div>
{% endif %}
{% if update %}
{% if success_update %}
<p style="color:green">Предложение обновлено</p>
{% endif %}
<h2>Редактирование запроса</h2>
<form id="update_req" method="post">
    {% csrf_token %}
    {{form}}
</form>
<button form="update_req" type="submit" class="btn btn-dark mt-4">Обновить</button>
{% else %}
<table class="table table-bordered mg-4">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Тип собственности</th>
            <th scope="col">Минимальная цена</th>
            <th scope="col">Максимальная цена</th>
            <th scope="col">Редактирование</th>
            <th scope="col">Удаление</th>
        </tr>
    </thead>
    <tbody>
        {% for i in list_req%}
        {% if request.user == i.author %}
        <tr>
            <th>{{i.id}}</th>
            <td>{{i.property_type}}</td>
            <td>{{i.min_price}}</td>
            <td>{{i.max_price}}</td>
            <td><a href="{% url 'update_req' i.id %}">Редактировать</a></td>
            <td>
                <form id="delete_form_{{i.id}}" action="{% url 'delete_req' i.id %}" method="post">{% csrf_token %}</form>
                <a href="javascript:void()" onclick="delete_question_{{i.id}}()">удалить</a>
                <script>
                    function delete_question_{{i.id}}() {
                        if (confirm("Вы уверены")) {
                            document.getElementById('delete_form_{{i.id}}').submit()
                        }
                    }
                </script>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить запрос</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_form" method="post">
                    {% csrf_token %}
                    {{form}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button form="add_form" type="submit" class="btn btn-dark">Добавить</button>
            </div>
        </div>
    </div>
</div>
{%endblock content%}