<!doctype html>
 {% load static %}
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/style.css' %}" />
    <title>Stormwind</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border_nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">STORMWIND</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse custom_container" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item me-4">
                    <a class="nav-link" href="/offers">Предложения</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/reqs">Запросы</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/clients">Клиенты</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/realtors">Риэлторы</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/properties">Недвижимость</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link" href="/deals">Сделки</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    <a class="nav-link">{{request.user}}</a>
                </li>
                <li class="nav-item ms-1 me-4">
                    {% url 'logout_page' as url_logout_page %}
                    <a class="nav-link" href="{{url_logout_page}}">Выйти</a>
                </li>
                {% else %}
                <li class="nav-item ms-4 me-4">
                    {% url 'login_page' as url_login_page %}
                    <a class="nav-link" href="{{url_login_page}}">Войти</a>
                </li>
                <li class="nav-item ms-4 me-4">
                    {% url 'register_page' as url_register_page %}
                    <a class="nav-link" href="{{url_register_page}}">Зарегистрироваться</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    </nav>
    <div class="container mt-4">
        {%block content%}
        <h1 class="mb-4">Недвижимость</h1>
        <ul class="nav nav-pills mb-4">
            <li class="nav-item">

            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link btn-secondary" href="/add_property">Добавить/редактировать недвижимость</a>
            </li>
            {% else %}
            <a class="nav-link btn-secondary" href="/login_page">
                Чтобы добавить недвижимость необходимо войти
            </a>
            {% endif %}
        </ul>
        {%for i in property%}
        <div class="list-group  mt-4">
            <a href="/detail_property/{{i.id}}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    {% if i.city == None and i.street == None %}
                    <h3 class="mb-1">Адрес не указан, {{i.property_type}}</h3>
                    {% elif i.city == None and i.street == None and i.number_home == None %}
                    <h3>Адрес не указан, {{i.property_type}}</h3>
                    {% else %}    
                    <h3 class="mb-1">{{i.city}} {{i.street}} {{i.number_home}}, {{i.property_type}}</h3>
                    {% endif %}
                </div>
                <h6 class="mb-1">Площадь: {{i.area}} кв.м.</h6>
                <h6 class="mb-1">Номер недвижимости: {{i.id}}</h6>
            </a>
        </div>
        {%endfor%}
        {%endblock content%}
    </div>
</body>
